{{#*inline "formInput"}}
    <div class="contact-form__field contact-form__field--{{name}}">
        <input type="text" id={{sectionDomId}}-{{name}} name="{{name}}" class="contact-form__field-input" placeholder="{{label}}" required autocomplete="{{autocomplete}}"/>
        <label for="{{sectionDomId}}-{{name}}" id="{{name}}" class="contact-form__field-label">{{label}}</label>
    </div>
{{/inline}}
{{#*inline "hyperlink"}}
 {{/inline}}
<div class="contact-form lp-vertical-paddings container">
    <div class="contact-form__header">
        <h1 class="contact-form__header__title lp-h2">{{title}}</h1>
        <p class="contact-form__header__subtitle">
            {{subtitle}}
        </p>
    </div>
    <form data-type="contact-form">
        <div class="contact-form__contents">
            <div class="contact-form__contents-form">
                <input type="hidden" name="source" value="CONTACT_INQUIRY" />
                {{>formInput label="Name" name="name"}}
                {{>formInput label="E-mail" name="email"}}
                {{>formInput label="Your Message" name="message"}}
                {{>formInput label="MiddleName" name="middleName" autocomplete="off"}}
            </div>
        </div>
        {{#if image}}
            <div class="contact-form__image lp-vertical-paddings">
                <img src="{{image}}" alt="{{image}}" />
            </div>
        {{/if}}
        <div class="contact-form__footer">
            {{>hyperlink hyperlink=buttonSend class="link--arrow"}}
        </div>
    </form>
</div>